* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}


#game-container {
  position: relative;
}

#gameCanvas {
  background-color: #333;
  display: block;
}

#score {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 20px;
}
